<!DOCTYPE html>
<html>
<head>
    <title>Servo Control</title>
</head>
<body>
    <h1>Servo Control</h1>
    
    <button onclick="move_servo(0)">0 to 180</button>
    <button onclick="move_servo(180)">180 to 0</button>
    
    <script>
        function move_servo(angle) {
            fetch('/move_servo', {method: 'POST',body: 'angle=' + angle,headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
            });
        }
    </script>
</body>
</html>
